body {
	background-color: #f2f2f2;
}

#main-container {
	margin-top: 4rem;
	height: 50rem;
	overflow-y: auto;
}

#text-editor-area {
	text-align: left;
	height: 100%;

}

p {
	word-wrap: break-word;
}

.move-icon-div {
	background-color: #d3d3d3;
	width: 1.2rem;
	z-index: 3;
	position: absolute;
	display: none;
}

button {
	margin-top: .2rem;
	margin-bottom: .2rem;
}

/*Classes for the tooltip*/

*.make-bold {
	font-weight: bold;
}

*.make-underline {
	text-decoration: underline;
}

*.make-red {
	color: red;
}

